button {
  margin: 1rem;
}

button:disabled {
  cursor: not-allowed;
  color: gray;
}

.item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.list-items {
  max-height: 20rem;
  overflow-y: auto;
}
